.env
/server/__pycache__
/user_api/__pycache__
/flow_api/__pycache__
/flow_api/migrations/__pycache__
/trigger_api/migrations/__pycache__
/trigger_api/__pycache__
/action_api/migrations/__pycache__
/action_api/__pycache__